# macOS Files
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Carthage
Carthage/Build/

# Other
*.swp
*.swo
*.idea/
*.vscode/
Constants.swift
